
[submodule "third-party/toydb"]
	path = third-party/toydb
	url = git@github.com:yew1eb/toydb.git
	
[submodule "third-party/pingcap-talent-plan"]
	path = third-party/pingcap-talent-plan
	url = git@github.com:yew1eb/talent-plan.git


[submodule "third-party/TheAlgorithms-Rust"]
	path = third-party/TheAlgorithms-Rust
	url = git@github.com:TheAlgorithms/Rust.git
[submodule "third-party/vector"]
	path = third-party/vector
	url = git@github.com:yew1eb/vector.git
[submodule "third-party/crossbeam"]
	path = third-party/crossbeam
	url = git@github.com:yew1eb/crossbeam.git
[submodule "third-party/smol"]
	path = third-party/smol
	url = git@github.com:yew1eb/smol.git

[submodule "third-party/flume"]
	path = third-party/flume
	url = git@github.com:zesterer/flume.git
[submodule "third-party/influxdb_iox"]
	path = third-party/influxdb_iox
	url = git@github.com:yew1eb/influxdb_iox.git
[submodule "third-party/string-interner"]
	path = third-party/string-interner
	url = git@github.com:Robbepop/string-interner.git
[submodule "third-party/bevy_squares"]
	path = third-party/bevy_squares
	url = git@github.com:TheNeikos/bevy_squares.git
[submodule "third-party/rustbreak"]
	path = third-party/rustbreak
	url = git@github.com:TheNeikos/rustbreak.git
[submodule "third-party/toy-tsdb"]
	path = third-party/toy-tsdb
	url = git@github.com:dobrakmato/tsdb.git
[submodule "third-party/AnomalyDetector"]
	path = third-party/AnomalyDetector
	url = git@github.com:joxer/AnomalyDetector.git
[submodule "third-party/rust-common"]
	path = third-party/rust-common
	url = git@github.com:yew1eb/rustcommon.git
